<main>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <section class="main">
      <h1>로그인</h1>
      <div class="form-field">
        <label for="login-email">이메일</label>
        <input id="login-email" type="text" autocomplete="email" formControlName="email" />
        <app-formcontrol-error-message [fc]="formGroup.controls.email"></app-formcontrol-error-message>
      </div>
      <div class="form-field">
        <label for="login-password">비밀번호</label>
        <input id="login-password" type="password" autocomplete="current-password" formControlName="password" />
        <app-formcontrol-error-message [fc]="formGroup.controls.password"></app-formcontrol-error-message>
      </div>
      <app-error-message *ngIf="errorMsg$ | async as error" [message]="error"></app-error-message>
    </section>
    <section class="sidebar">
      <a class="button fa question" routerLink="/reset">비밀번호 재설정</a>
      <button
        type="submit"
        class="button accent fa login"
        [class.disabled]="isLoading$ | async"
        [disabled]="isLoading$ | async"
      >로그인</button>
    </section>
  </form>
</main>
