<main>
  <section class="main">
  <h1>환영합니다<span *ngIf="userName$ | async as name">, {{ name }}</span>!</h1>
  </section>
  <section class="sidebar" [ngSwitch]="isLoggedIn$ | async">
    <a
      *ngSwitchCase="false"
      routerLink="/login"
      class="button accent fa login"
    >로그인</a>
    <ng-container *ngSwitchCase="true">
      <a class="button fa user" routerLink="/user">내 정보 보기</a>
      <button
        class="button fa logout"
        type="button"
        [class.loading]="isLogoutLoading$ | async"
        [disabled]="isLogoutLoading$ | async"
        (click)="logout()"
      >로그아웃</button>
    </ng-container>
  </section>
</main>
