<main>
  <section class="main">
    <h1>내 정보 보기</h1>
    <article *ngIf="user$ | async as user">
      <img class="profile-image" [src]="user.profileImage" [alt]="'profile image of ' + user.name">
      <p class="name">{{ user.name }}</p>
      <p class="email">{{ user.email }}</p>
    </article>
  </section>
  <section class="sidebar">
    <button
      class="button accent fa logout"
      type="button"
      (click)="logout()"
      [disabled]="isLogoutLoading$ | async"
    >로그아웃</button>
  </section>
</main>
